/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* style page */

body {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
	background-color: #FAFAFA;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

h1{
	font-family: 'Saira Condensed', sans-serif;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 100;
	padding-bottom: 5mm;
}

h2 {
	font-size: 30px;
	font-weight: 400;
	padding-bottom: 2.5mm;
}

h3{
	font-size: 20px;
	padding-bottom: 2.5mm;
	font-weight: 400;
}

.paper{
	background-color: white;
	filter: drop-shadow(0 0 0.75rem #85949e);
	width: 210mm;
	/* height: 297mm; */
	display: flex;
	flex-direction: column;
	/* align-items: center; */
}

.display-header{
	padding: 10mm;
	background-color: #5B5B5B;
	color: white;
}

.display-header > h1 > .name{
	font-weight: bold;
}

.display-body {
	padding: 5mm 10mm 5mm 10mm;
}

.display-body > div{
	border-left: 2px;
	border-style: solid;
	border-color: #e3e3e3;
	padding-top: 5mm;
	padding-left: 5mm;
}

.display-body > div:first-child{
	padding-top: 0px;
	padding-left: 0px;
	border-left: 0px;
}

.display-introduction {
	line-height: 1.5;
}

.display-skill > ul > li{
	padding-bottom: 2.5mm;
}

.display-skill > ul > li:last-child{
	padding-bottom: 0mm;
}

.display-work-history{
	line-height: 1.5;
}

.display-work-history ul{
	list-style-type: circle;
}

.display-education{
	line-height: 1.5;
}

.display-education > div{
	padding-bottom: 2.5mm;
}

.display-education > div:last-child{
	padding-bottom: 0mm;
}

.timeline{
	display: flex;
	flex-direction: row;
}

.timeline > div:nth-child(1){
	min-width: 25mm;
}
